{% extends 'index.html'%}

{% block content %}
<div class="logadmin_container">
    <h1 class="admin-dashboard_title"> Welcome to the Administrator's Dashboard </h1>
    <h2 class="admin-dashboard_subtitle"> This page allows administrators to manage Dashboard data </h2>
    <h3 class="admin-dashboard_select"> Select the data you want to manage</h3>
    <div class="admin_nav_container">
        <a class="admin_nav btn btn-secondary" href="/dam_data">Dam levels data</a>
        <a class="admin_nav btn btn-secondary" href="/reservoir_data">Reservoir levels data</a>
        <a class="admin_nav btn btn-secondary" href="/dam_data">City consumption vs SIV data</a>
        <a class="admin_nav btn btn-secondary" href="/dam_data">Chemical stock levels data</a>
        <a class="admin_nav btn btn-secondary" href="/dam_data">Pumping statistics data</a>
    </div>
</div>
{% endblock%}