{% extends 'index.html'%}

{% block nav %}
  {% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="logadmin_container">
    <h1 class="admin-dashboard_title"> Welcome to the Administrator's Dashboard </h1>
    <h3 class="admin-dashboard_select"> Select the data you want to manage</h3>
    <div class="admin_nav_container">
        <a class="admin_nav btn btn-secondary" href="/dam_data">Dam levels data</a>
        <a class="admin_nav btn btn-secondary" href="/reservoir_data">Reservoir levels data</a>
        <a class="admin_nav btn btn-secondary" href="#">City consumption vs SIV data</a>
        <a class="admin_nav btn btn-secondary" href="#">Chemical stock levels data</a>
        <a class="admin_nav btn btn-secondary" href="#">Pumping statistics data</a>
    </div>
</div>
{% endblock%}