{% extends 'index.html' %}

{% block content %}
<div class="dams-container">
    <h1>{{ dam['dam_name'] }}</h1>
</div>
<div class="dam_background">
    <!-- <p>{{ dam['dam_desc'] }}</p> -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu leo purus. Maecenas euismod semper magna nec blandit. In hac habitasse platea dictumst. Vivamus vestibulum est laoreet sapien scelerisque interdum. Donec placerat quam in pulvinar hendrerit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
</div>
<div class="graphs_container">
    <div class="graph1">
        <h2>Graph1 container</h2>
    </div>
    <div class="graph2">
        <h2>Graph2 container</h2>
    </div>
    <div class="graph3">
        <h2>Graph3 container</h2>
    </div>
</div>
{% endblock%}
