{% extends 'index.html' %}

{% block nav %}
  {% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="stats-container">
    <h1>{{ dam['dam_name'] }}</h1>
</div>
<div class="stats_background">
    <p>{{ dam['dam_description'] }}</p>
</div>
<div class="container h-100 d-flex justify-content-center align-items-center stats_percentage_container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Today's Dam Percentage</h3>
                    <p class="card-text stats_percentage {% if current_dam_percentage < critical_dam_percentage %}unit_low{% endif %}">{{ current_dam_percentage }}%</p>
                    <p class="card-text date">{{ today_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="graphs_container">
    <div id="graph1" class="graph-container" data-aos="fade-left">
    </div>
    <div id="graph2" class="graph-container" data-aos="fade-left">
    </div>
    <div id="graph3" class="graph-container" data-aos="slide-up">
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var dam_graph1 = {{ dam_graph1JSON|safe}}
    Plotly.plot('graph1', dam_graph1, {responsive: true});
    var dam_graph2 = {{ dam_graph2JSON|safe}}
    Plotly.plot('graph2', dam_graph2, {responsive: true});
    var dam_graph3 = {{ dam_graph3JSON|safe}}
    Plotly.plot('graph3', dam_graph3, {responsive: true});
  
    function updateChartSize() {
      const graphContainers = document.querySelectorAll('.graph-container');
  
      for (const container of graphContainers) {
        const chartId = container.id; // Get the chart container ID
        const chart = document.getElementById(chartId); // Find the chart element
        
        // Set chart width to occupy full width of the container
        const containerWidth = container.clientWidth;
        Plotly.relayout(chart, { width: containerWidth });
      }
    }
  
    // Initial call to set correct width on page load
    updateChartSize();
  
    window.addEventListener('resize', updateChartSize);
  </script>
{% endblock%}
