<div class="footer">
    <footer>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/admin_dashboard" class="nav-link px-2 text-body-secondary">Admin Dashboard</a></li>
      </ul>
      <p class="text-center text-body-secondary">Bulawayo City of Kings, A smart and transformative City by 2024</p>
      <p class="text-center text-body-secondary">&copy; 2024. All rights reserved.</p>
    </footer>
  </div>