<div class="footer">
    <footer>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/admin_dashboard" class="nav-link px-2 text-body-secondary">Admin Dashboard</a></li>
      </ul>
      <p class="text-center text-body-secondary vision">Bulawayo City of Kings, A leading smart transformative City by 2024</p>
      <p class="text-center text-body-secondary">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
    </footer>
  </div>