{% extends 'index.html' %}

{% block content %}
<div class="main_container">
  <div class="main-heading">
    <h1>City of Bulawayo Water Dashboard</h1>
    <h2>Water Supply and Distribution Statistics</h2>
  </div>
  <div id="graph-container1" class="graph-container">

  </div>
       <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
       <script>
          var graph1 = {{ graph1JSON|safe}}
          Plotly.plot('graph-container1', graph1, {responsive: true});
       </script>

</div>
{% endblock %}
