{% extends "index.html" %}

{% block nav %}
  {% include 'nav_landing.html' %}
{% endblock %}


{% block content %}
  <h1>This is the landing page</h1>
  <div class="land_container1">
    <img class="img_container1" src="../static/images/homepage1.png" alt=""/>
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container2" src="../static/images/homepage2.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container1" src="../static/images/homepage3.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container2" src="../static/images/homepage4.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container1" src="../static/images/homepage5.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container2" src="../static/images/reservoirpage1.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container1" src="../static/images/damepage2.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container2" src="../static/images/damepage3.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container1" src="../static/images/reservoirpage2.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container2" src="../static/images/reservoirpage3.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container1" src="../static/images/loginpage.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container2" src="../static/images/admindashboard.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container1" src="../static/images/damsDatapage.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container2" src="../static/images/reservoirdatapage.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
  <div class="land_container1">
    <img class="img_container1" src="../static/images/logout.png" alt="">
    <p class="paragraph_container">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam officiis voluptate voluptas suscipit ex laboriosam mollitia porro, impedit totam voluptatem obcaecati placeat. Ipsum aperiam quo, laudantium optio ea praesentium nisi beatae repudiandae. Autem natus culpa non at! Ex sapiente nesciunt ducimus rem aut ipsum optio accusamus ad sint quos.</p>
  </div>
{% endblock %}