<nav class="navbar bg-body-tertiary shadow-sm fixed-top navbar-expand-sm">
      <a class="navbar-brand" href="/">
            <img id ="logo" src="../static/images/logo_council.jpg" alt="Logo">
            City of Bulawayo
      </a>
      <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#"
            id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Detailed Dam Stats</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/1">Inyankuni Dam</a></li>
              <li><a class="dropdown-item" href="/2">Insiza Mayfair Dam</a></li>
              <li><a class="dropdown-item" href="/3">Mtshabezi Dam</a></li>
              <li><a class="dropdown-item" href="/4">uMzingwane Dam</a></li>
              <li><a class="dropdown-item" href="/5">Lower Ncema Dam</a></li>
              <li><a class="dropdown-item" href="/6">Upper Ncema Dam</a></li>
            </ul>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#"
            id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Detailed Reservoir Levels</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/1">Criterion</a></li>
              <li><a class="dropdown-item" href="/2">Hillside</a></li>
              <li><a class="dropdown-item" href="/3">Rifle Range</a></li>
              <li><a class="dropdown-item" href="/4">Magwegwe</a></li>
              <li><a class="dropdown-item" href="/5">6J</a></li>
              <li><a class="dropdown-item" href="/6">Tuli</a></li>
            </ul>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">City Consumption vs SIV</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Chemical Stock Levels</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Pumping Statistics</a>
          </li>
        </ul>
      </div>
      <form class="d-flex search_bar">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
</nav>