<nav class="navbar bg-body-tertiary shadow-sm fixed-top navbar-expand-sm">
  <a class="navbar-brand" href="/">
    <img id="logo" src="../static/images/logo_council.jpg" alt="Logo">
    City of Bulawayo
  </a>
  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#toogleMobileMenu"
          aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active dropdown show">
        <a class="nav-link dropdown-toggle" href="/dams"
           id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="ture">Detailed Dam Levels</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/dams/Inyankuni Dam">Inyankuni Dam</a></li>
          <li><a class="dropdown-item" href="/dams/Insiza Mayfair Dam">Insiza Mayfair Dam</a></li>
          <li><a class="dropdown-item" href="/dams/Mtshabezi Dam">Mtshabezi Dam</a></li>
          <li><a class="dropdown-item" href="/dams/uMzingwane Dam">uMzingwane Dam</a></li>
          <li><a class="dropdown-item" href="/dams/Lower Ncema Dam">Lower Ncema Dam</a></li>
          <li><a class="dropdown-item" href="/dams/Upper Ncema Dam">Upper Ncema Dam</a></li>
        </ul>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#"
           id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">Detailed Reservoir Levels</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/reservoirs/Magwegwe">Magwegwe</a></li>
          <li><a class="dropdown-item" href="/reservoirs/Hillside">Hillside</a></li>
          <li><a class="dropdown-item" href="/reservoirs/Rifle Range">Rifle Range</a></li>
          <li><a class="dropdown-item" href="/reservoirs/6J">6J</a></li>
          <li><a class="dropdown-item" href="/reservoirs/Tuli">Tuli</a></li>
          <li><a class="dropdown-item" href="/reservoirs/Criterion Clear">Criterion Clear</a></li>
          <li><a class="dropdown-item" href="/reservoirs/Criterion Raw">Criterion Raw</a></li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/SIVvsConsumption">City Consumption vs SIV</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/ChemicalStockLevels">Chemical Stock Levels</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/PumpingStatistics">Pumping Statistics</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#"
           id="navbarDropdownMore" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">More</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMore">
          <li><a class="dropdown-item" href="/admin_dashboard">Admin Dashboard</a></li>
          {% if current_user.is_authenticated %}
            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
            <li><a class="dropdown-item" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
</nav>
