{% extends 'index.html' %}

{% block nav %}
  {% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="stats-container">
    <h1>{{ reservoir['reservoir_name'] }} Reservoir</h1>
</div>
<div class="stats_background">
    <p class="card-text"> {{ reservoir['reservoir_description'] }}</p>
</div>
<div class="container h-100 d-flex justify-content-center align-items-center stats_percentage_container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Today's Reservoir Level</h3>
                    <p class="card-text stats_percentage {% if current_reservoir_level < critical_reservoir_level %}unit_low{% endif %}">
                        {{ current_reservoir_level }} {% if reservoir.id in [6, 7] %}m{% else %}ft{% endif %}
                      </p>
                    <p class="card-text date">{{ today_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="graphs_container">
    <div id="res_graph1" class="graph-container" data-aos="fade-left">
    </div>
    <div id="res_graph2" class="graph-container" data-aos="fade-left">
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
   var res_graph1 = {{ level_graphJSON|safe}}
   Plotly.plot('res_graph1', res_graph1, {responsive: true});
   var res_graph2 = {{ volume_graphJSON|safe}}
   Plotly.plot('res_graph2', res_graph2, {responsive: true});
</script>
{% endblock%}
