{% extends "index.html" %}

{% block content %}

<div class="container dam_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2 class="left-aligned-text"> Reservoirs Data <button type="button" class="btn btn-success float-right"
                    data-toggle="modal" data-target="#myReservoirModal"> Add New Data </button>
                </h2>

                <table class="table table-hover table-dark">

                    <tr>
                        <th>ID</th>
                        <th>Reservoir Name</th>
                        <th>Date</th>
                        <th>Reservoir Level</th>
                        <th>Reservoir Percentage</th>
                        <th>Reservoir Volume</th>
                        <th>Action</th>
                    </tr>

                    </div>

                    {% for reservoir_data in reservoir_data_list %}
                    <tr>
                        <td> {{ reservoir_data.id }} </td>
                        <td> {{ reservoir.reservoir_name }} </td>
                        <td> {{ reservoir_data.date }} </td>
                        <td> {{ reservoir.reservoir_level }} </td>
                        <td> {{ reservoir.dam_percentage }}</td>
                        <td> {{ reservoir.dam_volume }} </td>

                        <td> 
                            <a href="/delete_reservoir_data/{{ reservoir.id }}" class="btn btn-danger btn-xs"
                            onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                            <a href="/update_reservoir_data/{{ reservoir.id }}" class="btn btn-warning btn-xs" style="margin-right: 5px;"
                            data-toggle="modal" data-target="#updateReservoirModal{{ reservoir.id }}">Edit</a>
                            
                        </td>
                    </tr>

                    {% include "add_reservoir_modal.html" %}
                    {% include "update_reservoir_modal.html" %}
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}