{% block content %}
<!-- Update Reservoir Modal -->
<div class="modal fade" id="updateReservoirModal{{ reservoir_data.id }}" tabindex="-1" role="dialog" aria-labelledby="updateReservoirModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateReservoirModalLabel">Edit Form</h5>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('update_reservoir_data', reservoir_data_id=reservoir_data.id) }}" method="post">
            <div class="form-group">
                <label>Date <span style="color: red;">*</span></label>
                <input type="date" class="form-control" name="date" value="{{ reservoir_data.date }}" required>
            </div>
            <div class="form-group">
              <label>Select Reservoir <span style="color: red;">*</span></label>
              <select class="form-control custom-select" name="reservoir_id" required>
                <option value="1" {% if reservoir_data.reservoir_id == 1 %} selected {% endif %}>Magwegwe Reservoir</option>
                <option value="2" {% if reservoir_data.reservoir_id == 2 %} selected {% endif %}>Hillside Reservoir</option>
                <option value="3" {% if reservoir_data.reservoir_id == 3 %} selected {% endif %}>Rifle Range Reservoir</option>
                <option value="4" {% if reservoir_data.reservoir_id == 4 %} selected {% endif %}>6J Reservoir</option>
                <option value="5" {% if reservoir_data.reservoir_id == 5 %} selected {% endif %}>Tuli Reservoir</option>
                <option value="6" {% if reservoir_data.reservoir_id == 6 %} selected {% endif %}>Criterion Clear Reservoir</option>
                <option value="7" {% if reservoir_data.reservoir_id == 7 %} selected {% endif %}>Criterion Raw Reservoir</option>
              </select>
            </div>
            <div class="form-group">
                <label>Reservoir Level <span style="color: red;">*</span></label>
                <input type="text" class="form-control" name="reservoir_level" value="{{ reservoir_data.reservoir_level }}"
                pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" required>
            </div>
            <div class="form-group">
                <label>Reservoir Percentage <span style="color: red;">*</span></label>
                <input type="text" class="form-control" name="reservoir_percentage" value="{{ reservoir_data.reservoir_percentage}}" 
                pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" required>
            </div>
            <div class="form-group">
                <label>Reservoir Volume </label>
                <input type="text" class="form-control" name="reservoir_volume" value="{{ reservoir_data.reservoir_volume or '' }}"
                pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number">
            </div>
            <div class="form-group">
                <button class="btn btn-primary left-aligned-button" style="float: left;" type="submit">Update</button>
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
<script>
    document.getElementById('reservoirName').addEventListener('change', function() {
        var selectedReservoirName = this.value;
        var selectedReservoirId = getDamIdFromDatabase(selectedReservoirName); // Function to fetca.id from the database
        document.getElementById('selectedReservoirId').value = selectedReservoirId;
    });
</script>
{% endblock %}