.landing_header {
    background: rgb(199, 235, 247);
}

.landing_header h1 {
    padding: 5px;
}

.land_container1 {
    height: 335px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(199, 235, 247);
}

.land_container2 {
    height: 370px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(199, 235, 247);
}

.land_container3 {
    height: 435px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(199, 235, 247);
}

.img_container1 {
    float: left;
    margin-right: 10px;
}

.img_container2 {
    float: right;
    margin-left: 10px;
}

.paragraph_container {
    padding: 5px;
}