body {
    margin: 0!important;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    /* Set minimum height for content area */
    /* padding-bottom: footer-height; */
    /* display: flex; */
    /* min-height: 100vh; */
}

main {
  margin-top: 70px;
  margin-bottom: 0px;
  text-align: center;
  min-height: 100%;
}

.main-heading {
    background: url("../images/dam_sample3.jpg") no-repeat center;
    height: 300px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-heading h1 {
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000;
    padding-top: 50px;
}

.test {
    height: 100px;
    background: rgba(5, 59, 141, 0.767);
}

.main-heading h2 {
    color: whitesmoke;
    text-shadow: 4px 4px 16px #000;
    font-size: 3rem;
}
  
.content {
    min-height: 100vh;
    padding-bottom: 50px; /* Adjust this value to match the height of the footer */
}