body {
    margin: 0!important;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    /* Set minimum height for content area */
    /* padding-bottom: footer-height; */
    /* display: flex; */
    /* min-height: 100vh; */
}

main {
  margin-top: 70px;
  margin-bottom: 0px;
  text-align: center;
  min-height: 100vh;
}

.main-heading {
    background: url("../images/dam_sample3.jpg") no-repeat center;
    height: 300px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-heading h1 {
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000;
    padding-top: 40px;
}

.test {
    height: 100px;
    background: rgba(5, 59, 141, 0.767);
}

.main-heading h2 {
    color: whitesmoke;
    text-shadow: 4px 4px 16px #000;
    font-size: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(5, 59, 141, 0.767);
  }
  
  .content {
    min-height: 100vh;
    padding-bottom: 50px; /* Adjust this value to match the height of the footer */
  }

.footer a, .footer p {
    color: whitesmoke!important;
}

.footer .vision {
    font-size: x-large;
    text-shadow: 1px 1px 4px #000;
}

.navbar {
    height: 70px;
    padding: 0px 0px 5px;
}

nav .navbar-brand #logo {
    width: 36px;
    height: 45px;
    margin: 10px;
}

.navbarNav .navbar-nav .nav-item .nav-link {
    margin: 0px 3px 5px 3px;
}

.navbarNav .navbar-nav .nav-item .btn {
  margin: 0px 0px 0px 4px; 
}


.search_bar {
    margin-right: 10px;
    margin-top: 10px;
}

.main_graph {
    width: 100%;
    background-color: rgb(206, 188, 194);
}

.dams-container {
    height: 250px;
    /* margin-top: 70px; */
    text-align: center;
    background: url("../images/dam_sample3.jpg") no-repeat center;
    padding-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    text-shadow: 4px 4px 16px #000
}

.dams-container h1 {
    font-size: 60px;
}

.dam_percentage_container .dam_percentage {
    text-shadow: 1px 1px 2px #000;
    font-size: xx-large;
    color: #0d91b3;
  }
  
  .dam_percentage_container .dam_percentage.dam_low {
    color: red;
  }

.date {
    font-size: x-large;
}

/* Styles for the dam information table */
.dam_info table {
    width: 100%; /* Make the table fill the available width */
    border-collapse: collapse; /* Remove borders between table cells */
}
  
.dam_info th, .dam_info td {
    padding: 10px; /* Add padding for better readability */
    text-align: left; /* Align content to the left */
    border: 1px solid #ddd; /* Add a thin border to each cell */
}
  
.dam_info th {
    background-color: #f2f2f2; /* Light gray background for headers */
    font-weight: bold; /* Make headers bolder */
}
  
.dam_info tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row colors for better visual separation */
}

.dam_background {
    padding: 20px;
    background-color: rgb(238, 235, 236);
}
  
.graph1, .graph2, .graph3 {
    margin: 10px;
    /* text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000; */
}


.dam_data_container .btn {
    float: right;
}

.dam_percentage_container {
    margin-top: 20px;
    padding: 2rem;
}

.dam_percentage_container .card-body {
    background-color: #e0ffff;  /* Light blue color */
    border-radius: 5px;
}

.admin-dashboard_title {
    margin-top: 100px;
}

.admin-dashboard_subtitle {
    margin-top: 30px;
}

.admin-dashboard_select {
    margin-top: 50px;
    margin-bottom: 20px;
}

.login-title {
  margin-top: 100px;
}

.form-container {
  margin-top: 30px;
}

.form-container div {
    display: block;
    margin: 20px 0 0 0;
}

.form-container .btn {
  margin: 0 50px 0 0;
}

.modal-body {
  text-align: left;
}

.modal-body .form-control {
  margin-bottom: 10px;
}

.left-aligned-button {
  float: left;
}

.left-aligned-text {
  text-align: left;
}

.graph-container {
    width: 1300px;
    height: 500px;
    margin: 20px auto;
}